<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744989929665-1l04hgqg8mqv8m8hb23id1hd9rt2vcjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744989929665-1l04hgqg8mqv8m8hb23id1hd9rt2vcjm</string>
	<key>API_KEY</key>
	<string>AIzaSyAgHaCkHHxqo-nQdoBMOmLktr4BgoLyXiU</string>
	<key>GCM_SENDER_ID</key>
	<string>744989929665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kids</string>
	<key>PROJECT_ID</key>
	<string>kidspalace-b8967</string>
	<key>STORAGE_BUCKET</key>
	<string>kidspalace-b8967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744989929665:ios:f1d998480a49d4ed866440</string>
</dict>
</plist>